<li [ngClass]="{ 'list-group-item': true,
'list-group-item-success': post.isPositiveLoveItsCount(),
'list-group-item-danger': post.isNegativeLoveItsCount() }" >
    <h3 class="list-group-item-heading">
        {{ post.title }}
        <h4 class="list-group-item-heading pull-right">{{ post.created_at | date: 'medium' }}</h4>
    </h3>
    <p class="list-group-item-text">{{ post.content }}</p>
    <button class="btn btn-success" (click)="onLike()">J'aime !</button>
    <button class="btn btn-danger" (click)="onDislike()">Pas ouf...</button>
</li>